.section {
  padding-bottom: 32px;
  text-align: center;

  @media (min-width: 1280px) {
    padding-bottom: 96px;
  }
}

.container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 16px;
  padding-right: 16px;

  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}

.section_btn {
  background-color: var(--violet-medium-dark);
  border-radius: 24px;

  margin-bottom: 32px;

  @media (min-width: 1280px) {
    display: none;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  padding: 16px 15px 14px 56px;
  border: 1px solid var(--white);
  border-radius: 24px;

  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  background-color: var(--violet-medium-dark);

  color: var(--pink-light-pink);

  @media (min-width: 1280px) {
    display: none;
  }
}

.btn_list {
  text-align: left;
  padding: 0 15px 13px 20px;
}

.btn_list__item {
  margin-bottom: 16px;
}

.btn_list__title {
  color: var(--pink-dark-pink);
  font-family: "Philosopher", sans-serif;
  margin-bottom: 16px;
}

.list_title__first {
  text-transform: uppercase;
  color: var(--pink-dark-pink);
  font-family: "Philosopher", sans-serif;
  margin-bottom: 16px;
}

.btn_list__text {
  color: var(--white);
  font-size: 14px;
}

.title {
  font-family: "Philosopher", sans-serif;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;

  @media (min-width: 1280px) {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 80px;
  }
}

.title_list {
  font-family: "Philosopher", sans-serif;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;

  @media (min-width: 1280px) {
    margin-bottom: 36px;
    font-size: 32px;
    font-weight: 400;
  }
}

.list {
  color: var(--black);
  display: flex;
  align-items: center;
  border-radius: 24px;
  background-color: var(--pink-light-pink);
  padding: 14px 29px 14px 17px;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: left;
  width: 328px;

  @media (min-width: 1280px) {
    width: 574px;
    font-size: 20px;
    padding: 19px 147px 18px 40px;
    margin-bottom: 28px;
  }
}

.list:last-child {
  @media (min-width: 1280px) {
    margin-bottom: 0;
  }
}

.list_span {
  font-family: "Philosopher", sans-serif;
  color: var(--pink-dark-pink);
  font-size: 36px;
  font-weight: 700;
  margin-right: 23px;
}

.list_wrap {
  padding: 16px;
  border: 1px solid var(--white);
  border-radius: 24px;
  margin-bottom: 16px;

  @media (min-width: 1280px) {
    border: none;
    margin-bottom: 0;
  }
}

.wrap_text__margin {
  font-size: 14px;
  color: var(--white);
  text-align: left;
  margin-bottom: 15px;

  @media (min-width: 1280px) {
    border: 1px solid var(--white);
    border-radius: 24px;
    width: 322px;
    padding: 22px;
    font-size: 20px;
  }
}

.wrap_text {
  font-size: 14px;
  color: var(--white);
  text-align: left;

  @media (min-width: 1280px) {
    border: 1px solid var(--white);
    border-radius: 24px;
    width: 322px;
    padding: 22px;
    font-size: 20px;
  }
}

.title_text {
  font-family: "Philosopher", sans-serif;
  color: var(--pink-light-pink);
  font-size: 16px;

  @media (min-width: 1280px) {
    font-size: 24px;
    width: 404px;
    margin-left: 210px;
  }
}

@media (min-width: 1280px) {
  .wrap {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-bottom: 68px;
  }

  .wrapper {
    flex-direction: column;
  }
}
