.slide_thumb {
  display: flex;
  justify-content: space-between;
  padding: 9px 16px 19px 16px;
}

.slide_wrapper {
  width: 156px;
  height: 241px;
  border-radius: 24px;
  border: 1px solid #fff;
}

.section {
  padding: 16px 0;
  background-color: var(--pink-light-pink);
  @media screen and (min-width: 1200px ) {
    padding-top: 100px;
    padding-bottom: 110px;
  }
}

.title {
  font-family: "Philosopher";
  font-size: 24px;
  /* font-weight: 700; */
  line-height: normal;
  color: var(--violet-dark);

  /* width: 331px; */
  margin-bottom: 13px;
  text-align: center;
  @media screen and (min-width: 1200px) {
      font-size: 48px;
      line-height: normal;
      margin-bottom: 90px;
    
  }
}

.description {
  max-width: 286px;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  list-style: disc;
  display: flex;
  flex-direction: column;
  gap: 17px;
  @media screen and (min-width: 1200px) {
  max-width: 640px;
  gap: 37px;
  font-size: 24px;
    
  }
}

.description_item::marker {
  color: #000;
  font-size: 8px;

  @media screen and (min-width: 1200px) {
      font-size: 12px;
    }
}

.container {
  margin: 0 auto;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 120px;
  }
}

.wrapper {
  @media screen and (min-width: 1200px) {

    display: flex;
    gap: 67px;
  }
  
}

.img {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    width: 253px;
      height: 542px;
      border-radius: 28px;
  }
  
}

.swiper_section {
  position: relative;
padding-top: 36px;
  padding-bottom: 24px;
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    padding: 120px 0;
  }
}

.swiper_section::before {
  content: "";
    position: absolute;
    top: -33px;
    right: -36px;
    width: 125px;
    height: 118px;
    background-image: url("../public/images/elipse.png");

    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;

}

.swiper_container {
  max-width: 480px;
  margin: 0 auto;
  

  @media screen and (min-width: 768px) {
    max-width: 768px;
  };

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
    max-width: 1017px;
    
  };
}

.price_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Philosopher", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.country_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Montserat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

.county_item {
    margin-bottom: 3px;
}

.navigationBtn {
  display: none;
  align-self: center;
  width: 42px;
  height: 80px;
  @media screen and (min-width: 1200px) {
    display: block;
  }
}