@media screen and (max-width: 1199px) {
  .section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    background-color: var(--white);
  }

  .container {
    display: flex;
    gap: 8px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 4px;
    padding-bottom: 7px;
    padding-left: 120px;
    padding-right: 66px;
  }

  .wrap {
    padding-top: 96px;
    padding-bottom: 94px;
  }

  .title {
    margin-bottom: 56px;

    color: var(--violet-dark);
    font-family: "Philosopher", sans-serif;
    font-size: 36px;
    font-weight: 700;
  }

  .text {
    margin-bottom: 56px;

    color: var(--violet-dark);
    font-size: 24px;
  }

  .btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    padding: 19px 36px;
    border: none;
    border-radius: 24px;

    font-family: "Philosopher", sans-serif;
    font-size: 24px;
    background-color: var(--pink-dark-pink);

    color: var(--white);
  }

  .btn_list {
    position: absolute;
    left: 17%;
    transform: scale(1);
    z-index: 100;
    border-radius: 24px;
    width: 328px;

    background-color: var(--violet-medium-dark);
    text-align: left;
    padding: 30px 15px 13px 20px;
  }

  .btn_list__item {
    margin-bottom: 16px;
  }

  .btn_list__title {
    color: var(--pink-dark-pink);
    font-family: "Philosopher", sans-serif;
    margin-bottom: 16px;
  }

  .list_title__first {
    text-transform: uppercase;
    color: var(--pink-dark-pink);
    font-family: "Philosopher", sans-serif;
    margin-bottom: 16px;
  }

  .btn_list__text {
    color: var(--white);
    font-size: 14px;
  }

  .wrapper {
    width: 200px;
    padding-top: 4px;
    padding-bottom: 7px;
  }

  .img_taobao {
    position: relative;
    z-index: 1;
    margin-bottom: 40px;
  }

  .img_taobao::after {
    position: absolute;
    top: 12px;
    left: 29px;
    transform: rotate(-12deg);

    content: "";

    width: 128px;
    height: 128px;
    background-color: var(--violet-dark);

    border-radius: 32px;
    z-index: -1;
  }

  .img_1688 {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    padding-left: 75px;
  }

  .img_1688::after {
    position: absolute;
    top: 1px;
    left: 110px;
    transform: rotate(30deg);

    content: "";

    width: 115px;
    height: 115px;
    background-color: var(--violet-dark);

    border-radius: 32px;
    z-index: -1;
  }

  .img_pinduoduo {
    position: relative;
    z-index: 1;
    padding-left: 16px;
    margin-bottom: 30px;
  }

  .img_pinduoduo::after {
    position: absolute;
    top: 31px;
    left: 10px;
    transform: rotate(-24deg);

    content: "";

    width: 115px;
    height: 110px;
    background-color: var(--violet-dark);

    border-radius: 32px;
    z-index: -1;
  }

  .img_wechat {
    position: relative;
    z-index: 1;
    padding-left: 95px;
  }

  .img_wechat::after {
    position: absolute;
    top: -9px;
    left: 128px;
    transform: rotate(20deg);

    content: "";

    width: 104px;
    height: 104px;
    background-color: var(--violet-dark);

    border-radius: 32px;
    z-index: -1;
  }
}
