.container {
  padding-bottom: 32px;

  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.section {
  padding-left: 16px;
  padding-right: 16px;
}

.section_btn {
  background-color: var(--violet-medium-dark);
  border-radius: 24px;

  margin-bottom: 32px;
}

.btn {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  width: 100%;
  padding: 16px 15px 14px 56px;
  border: 1px solid var(--white);
  border-radius: 24px;

  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  background-color: var(--violet-medium-dark);

  color: var(--pink-light-pink);
}

.btn_list {
  text-align: left;
  padding: 0 15px 13px 20px;
}

.btn_list__item {
  margin-bottom: 16px;
}

.btn_list__title {
  color: var(--pink-dark-pink);
  font-family: "Philosopher", sans-serif;
  margin-bottom: 16px;
}

.list_title__first {
  text-transform: uppercase;
  color: var(--pink-dark-pink);
  font-family: "Philosopher", sans-serif;
  margin-bottom: 16px;
}

.btn_list__text {
  color: var(--white);
  font-size: 14px;
}

.title {
  font-family: "Philosopher", sans-serif;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.title_list {
  font-family: "Philosopher", sans-serif;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.list {
  color: var(--black);
  display: flex;
  align-items: center;
  border-radius: 24px;
  background-color: var(--pink-light-pink);
  padding: 14px 29px 14px 17px;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: left;
}

.list_span {
  font-family: "Philosopher", sans-serif;
  color: var(--pink-dark-pink);
  font-size: 36px;
  font-weight: 700;
  margin-right: 23px;
}

.list_wrap {
  position: relative;
  padding: 16px;
  border: 1px solid var(--white);
  border-radius: 24px;
  margin-bottom: 16px;
}

.wrap {
  position: relative;
}

.wrapper {
  position: relative;
}

.wrap_text__margin {
  font-size: 14px;
  color: var(--white);
  text-align: left;
  margin-bottom: 15px;
}

.wrap_text {
  font-size: 14px;
  color: var(--white);
  text-align: left;
}

.title_text {
  font-family: "Philosopher", sans-serif;
  color: var(--pink-light-pink);
  font-size: 16px;
}

.wrap::after {
  position: absolute;
  top: 100px;
  right: 250px;

  content: "";
  display: block;

  width: 138px;
  height: 138px;

  border-radius: 50%;
  border: 2px solid rgba(252, 163, 163, 0.5);
  box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
  z-index: -1;
}

.list_wrap::before {
  position: absolute;
  top: -60px;
  right: 325px;

  content: "";
  display: block;

  width: 70px;
  height: 70px;

  border-radius: 50%;
  border: 2px solid rgba(252, 163, 163, 0.5);
  box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
  z-index: -1;
}

.list_wrap::after {
  position: absolute;
  top: 220px;
  right: 255px;

  content: "";
  display: block;

  width: 138px;
  height: 138px;

  border-radius: 50%;
  border: 2px solid rgba(252, 163, 163, 0.5);
  box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
  z-index: -1;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 1199px) {
  .wrapper::before {
    position: absolute;
    top: 235px;
    right: -10px;

    content: "";
    display: block;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 2px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .wrapper::after {
    position: absolute;
    top: 370px;
    right: -30px;

    content: "";
    display: block;

    width: 138px;
    height: 138px;

    border-radius: 50%;
    border: 2px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .wrap::before {
    position: absolute;
    top: -70px;
    right: -35px;

    content: "";
    display: block;

    width: 138px;
    height: 138px;

    border-radius: 50%;
    border: 2px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-bottom: 96px;
  }

  .section_btn {
    display: none;
  }

  .btn {
    display: none;
  }

  .title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 80px;
  }

  .title_list {
    margin-bottom: 36px;
    font-size: 32px;
    font-weight: 400;
  }

  .list {
    width: 574px;
    font-size: 20px;
    padding: 19px 147px 18px 40px;
    margin-bottom: 28px;
  }

  .list:last-child {
    margin-bottom: 0;
  }

  .list_wrap {
    border: none;
    margin-bottom: 0;
  }

  .wrap_text__margin {
    border: 1px solid var(--white);
    border-radius: 24px;
    width: 322px;
    padding: 22px;
    font-size: 20px;
  }

  .wrap_text {
    border: 1px solid var(--white);
    border-radius: 24px;
    width: 322px;
    padding: 22px;
    font-size: 20px;
  }

  .title_text {
    font-size: 24px;
    width: 404px;
    margin-left: 210px;
  }

  .wrap {
    display: flex;
    gap: 64px;
    justify-content: center;
    margin-bottom: 68px;
  }

  .wrapper {
    flex-direction: column;
  }

  .desktop {
    position: relative;
  }

  .desktop::after {
    position: absolute;
    left: 60%;
    bottom: -120%;

    content: "";
    display: block;

    width: 401px;
    height: 401px;

    background-image: url("../public/images/about/girl-comp.png");
    background-repeat: no-repeat;

    z-index: -1;
  }
}
