@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --violet-dark: #251B37;
  --violet-medium-dark: #372948;
  --violet-light-dark: #675082;
  --pink-dark-pink: #F16060;
  --pink-medium-pink: #FCA3A3;
  --pink-light-pink: #FFCACA;
  --pink-white: #FFECEF;
  --white: #FFFFFF;
  --black: #000000;
}



.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* .swiper-slide>div {
  margin-right: 0 !important;
} */

.swiper-pagination-bullet {
  background-color: #675082 !important;
  width: 16px !important;
  height: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: #F16060 !important;
}

/* font-family: 'Philosopher',sans-serif; */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  background-color: #251B37;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}