@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Montserrat:wght@400;700&display=swap');



.services-title {
  @apply pb-4 font-heading text-2xl font-bold text-center text-title-light
}

.services-card-info {
  @apply font-heading text-title-light mb-4 py-2 px-6 bg-violet-light-dark rounded-2xl w-80 m-auto
}

.services-swiper-box {
  @apply text-title-light mt-6 h-40 overflow-hidden border border-solid border-violet-light-dark border rounded-3xl
}

.services-card-buy-title {
  @apply font-heading flex items-center justify-center px-9 py-2 h-20 bg-violet-dark relative
}

.services-button-buy {
  @apply font-heading w-40 h-12 px-14 py-4 bg-button-pay rounded-3xl font-bold
}

@layer components {
  .services-card-buy-title-after::after {
    @apply content-[''] absolute left-0 -bottom-px bg-violet-light-dark w-full h-px block
  }


}
body{
  background-color: #251B37;
}


.swiper-pagination-bullet {
  background-color: #675082 !important;
  width: 16px !important;
  height: 16px !important;
}

.swiper-pagination-bullet-active {
  background-color: #F16060 !important;
}
