.desktop {
  position: relative;

  padding-top: 120px;
  padding-bottom: 80px;
}

.mobTablet {
  position: relative;
}

.desktopWrap::before {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  display: block;

  width: 224px;
  height: 217px;
  border-radius: 58px;

  background-image: url("../public/images/services/girl.png");
  background-repeat: no-repeat;

  z-index: -1;
}

.container {
  padding-bottom: 32px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}

.paddingWrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.title {
  margin-bottom: 16px;

  font-family: "Philosopher", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.sloganWrap {
  margin-bottom: 32px;
  margin-right: auto;
  margin-left: auto;
  max-width: 328px;
}

.slogan {
  font-size: 14px;
  font-weight: 400;
  color: var(--pink-light-pink);
}

.secondSlogan {
  display: inline-block;

  font-family: "Philosopher", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--pink-light-pink);
}

.info {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  padding: 6px 10px;
  width: 100%;
  max-width: 328px;
  min-height: 48px;

  background-color: var(--violet-light-dark);
  border-radius: 16px;

  font-family: "Philosopher", sans-serif;
  color: var(--white);
}

.sliderWrap {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
  width: auto;
  height: 302px;
}

.slide {
  margin-bottom: 16px;
  height: 242px;
}

.slideInner {
  height: 100%;

  overflow: hidden;
  border: 1px solid var(--violet-light-dark);
  border-radius: 24px;

  color: var(--white);
}

.slideTitleBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 77px;
}

.slideTitle {
  padding-right: 36px;
  padding-left: 36px;

  font-family: "Philosopher", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.slideTitle::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";

  display: block;
  width: 100%;
  height: 1px;

  background-color: var(--violet-light-dark);
}

.slideCardWrap {
  padding: 8px 16px;
  height: 100%;

  background: linear-gradient(180deg, #251b37 0%, #675082 100%);
}

.slideCardDescr {
  margin-bottom: 10px;

  font-size: 14px;
  text-align: left;
}

.slideCardPrice {
  margin-bottom: 10px;

  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}

.btnBuy {
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 51px;
  width: 156px;
  height: 48px;

  border-radius: 24px;
  border: 1px solid var(--white);
  background-color: var(--pink-medium-pink);

  font-family: "Philosopher", sans-serif;
  font-weight: 700;
}

.btnBuy:hover,
.btnBuy:focus {
  box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
  transition: box-shadow 1s ease;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 1199px) {
  .desktop {
    display: none;
  }

  .desktopWrap {
    display: none;
  }

  .mobTablet::after {
    position: absolute;
    top: 121px;
    right: -63px;

    content: "";
    display: block;

    width: 126px;
    height: 126px;

    border-radius: 50%;
    border: 1px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .mobTablet::before {
    position: absolute;
    top: 142px;
    right: 60px;

    content: "";
    display: block;

    width: 34px;
    height: 34px;

    border-radius: 50%;
    border: 1px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .title::before {
    position: absolute;
    bottom: -300px;
    right: -50px;

    content: "";
    display: block;

    width: 66px;
    height: 66px;

    border-radius: 50%;
    border: 1px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .title::after {
    position: absolute;
    top: 610px;
    left: -50px;

    content: "";
    display: block;

    width: 118px;
    height: 118px;

    border-radius: 50%;
    border: 1px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }
}

@media screen and (min-width: 1200px) {
  .mobTablet {
    display: none;
  }

  .container {
    max-width: 1200px;
    padding-bottom: 100px;
  }

  .paddingWrapper {
    padding-left: 120px;
    padding-right: 120px;
  }

  .desktop::before {
    position: absolute;
    top: 79px;
    right: 16px;
    transform: translate(50%);

    content: "";
    display: block;

    width: 60px;
    height: 60px;

    border-radius: 50%;
    border: 2px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .desktop::after {
    position: absolute;
    top: -6px;
    right: -126px;

    content: "";
    display: block;

    width: 126px;
    height: 126px;

    border-radius: 50%;
    border: 2px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .leftRound::after {
    position: absolute;
    top: 120px;
    left: -162px;

    content: "";
    display: block;

    width: 126px;
    height: 126px;

    border-radius: 50%;
    border: 2px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }

  .secondSlogan {
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiperDescWrap {
    padding-left: 120px;
    padding-right: 120px;
  }

  .secondSlogan {
    font-size: 36px;
    font-weight: 700;
  }

  .sliderWrap {
    margin-bottom: 100px;
    height: 302px;
    overflow: visible;
  }

  .slide {
    height: 280px;
  }

  .slideInner {
    margin: 20px;
    height: 280px;
  }

  .slideInner:hover,
  .slideInner:focus {
    border: 3px solid #ffd2d2;
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    transition: box-shadow 1s ease;
  }

  .slideTitleBox {
    height: 88px;
  }

  .slideTitle {
    font-size: 24px;
  }

  .slideTitle::after {
    height: 3px;
  }

  .slideCardWrap {
    padding: 0;
  }

  .cardPriceInner {
    position: relative;

    display: flex;
    padding: 20px;
  }

  .cardPriceInner:first-child::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    content: "";
    display: block;
    width: 140px;
    height: 3px;

    background-color: var(--violet-light-dark);
  }

  .slideCardDescr {
    font-family: 'Philosopher', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }

  .slideCardPrice {
    align-self: end;

    white-space: nowrap;
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
  }

  .btnBuy {
    padding: 8px 27px;
    width: 280px;
    height: 64px;

    white-space: nowrap;
    font-size: 40px;
  }

  .btnBuy::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: "";
    display: block;

    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 2px solid rgba(252, 163, 163, 0.5);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.5);
    z-index: -1;
  }
}