.container {
    padding-bottom: 32px;

    max-width: 375px;
    margin-left: auto;
    margin-right: auto;


    text-align: center;
}

@media screen and (min-width: 1200px) {
    .container {
        /* margin-bottom: 16px; */
        max-width: 1200px;
        /* height: 302px; */

    }
}

.paddingWrapper {
    padding-left: 16px;
    padding-right: 16px;
}

.title {
    margin-bottom: 16px;

    font-family: 'Philosopher', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}

.sloganWrap {
    margin-bottom: 32px;
}

.slogan {
    font-size: 14px;
    font-weight: 400;
    color: var(--pink-light-pink);
}

.secondSlogan {
    display: inline-block;

    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--pink-light-pink);
}

.info {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    padding: 6px 10px;

    background-color: var(--violet-light-dark);
    border-radius: 16px;

    font-family: 'Philosopher', sans-serif;
    color: var(--white);
}

.sliderWrap {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    width: 500px;
    height: 302px;
    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width: 1200px) {
    .sliderWrap {
        margin-bottom: 16px;
        width: 1200px;
        width: auto;
        height: 302px;

    }
}

.slide {
    margin-bottom: 16px;
    height: 242px;
}


@media screen and (min-width: 1200px) {
    .slide {
        margin-bottom: 16px;
        width: 300px;
        height: 280px;

    }
}

.slideInner {
    width: 156px;
    height: 100%;

    border: 1px solid var(--violet-light-dark);
    border-radius: 24px;
    overflow: hidden;

    color: var(--white);
}

@media screen and (min-width: 1200px) {
    .slideInner {

        width: 300px;
        height: 280px;

    }
}

.slideTitleBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 77px;
}

.slideTitle {
    padding-right: 36px;
    padding-left: 36px;

    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
}

.slideTitle::after {
    content: "";

    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;

    background-color: var(--violet-light-dark);
}



.slideCardWrap {
    padding: 8px 16px;
    height: 100%;

    background: linear-gradient(180deg, #251B37 0%, #675082 100%);
}

.slideCardDescr {
    margin-bottom: 10px;

    font-size: 14px;
    text-align: left;
}

.slideCardPrice {
    margin-bottom: 10px;

    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
}

.btnBuy {
    display: block;

    margin-right: auto;
    margin-left: auto;
    padding: 15px 51px;
    width: 156px;
    height: 48px;


    border-radius: 24px;
    border: 1px solid var(--white);
    background-color: var(--pink-medium-pink);
    box-shadow: 0px 0px 21px 11px rgba(241, 96, 96, 0.50);

    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
}